<ion-view>

<Head>
    <ion-nav-bar align-title="center" class="bar-calm">
        <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-chevron-left" ng-click="goback()"></button>
        </ion-nav-buttons>
        <ion-nav-title style="font-weight: bold; font-size: 18px;"> Users Who Liked This </ion-nav-title>
    </ion-nav-bar>
</Head>

<Body> 
    <ion-content class="bg_content">
     <div style ="border-top: solid; border-top-color: #cbd0ef; border-top-width: 1px;"> </div>
    <div class=“list card”>
  <div class="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;" >
 <div class="item item-avatar" ng-click="GoPost()">
                <img src='img/avi5.jpg'>
                 <h3 style="color: #8387fc; font-size: 17px;"> emilygarza </h3>
                <h2 style="color: #FFFFFF;"> Emily Garza </h2>

</div>
</div>

  <div class="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;" >
  <div class="item item-avatar" ng-click="GoUserProfile()">
                <img src='img/avi7.jpg'>
               <h3 style="color: #8387fc; font-size: 17px;"> snehakoduru </h3>
                <h2 style="color: #FFFFFF;"> Sneha Koduru </h2>

</div>
</div>


  <div class="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;" >
  <div class="item item-avatar" ng-click="GoUserProfile()">
                <img src='img/avi7.jpg'>
                <h3 style="color: #8387fc; font-size: 17px;"> snehakoduru </h3>
                <h2 style="color: #FFFFFF;"> Sneha Koduru </h2>

</div>
</div>

  <div class="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;" >     <div class="item item-avatar" ng-click="GoUserProfile()">
                <img src='img/avi6.png'>
                <h3 style="color: #8387fc; font-size: 17px;"> aliciadiaz </h3>
                <h2 style="color: #FFFFFF;"> Alicia Diaz </h2>

</div>
</div>
</div>

    </ion-content>
</Body>

</ion-view>
