<ion-view>

<Head>
    <ion-nav-bar align-title="center" class="bar-calm">
      <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-chevron-left" ng-click="goback()"></button> 
      </ion-nav-buttons>
      <ion-nav-title style="font-size: 18px; font-weight: bold;
"> Reset Password </ion-nav-title> 
    </ion-nav-bar>
</Head>

<body>
    <ion-content  class = "bg_content has-header">     
    <label class="item item-input">
    <input style="color: #FFFFFF;" type="text" placeholder="Email Address" >
    </label>
    <button class="button button-block button-positive" style="background-color: #615eff; border-radius: 8px; font-weight: bold;"> Send Reset Procedure </button>
    </ion-content> 
</body>

</ion-view>