<ion-view>

<Head>
    <ion-nav-bar align-title="center" class="bar-calm">
      <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-chevron-left" ng-click="goback()"></button> 
      </ion-nav-buttons>
       <ion-nav-title style="font-weight: bold; font-size: 18px;" > Search </ion-nav-title> 
    </ion-nav-bar>

    

</Head>

<body>
    <ion-content class="bg_content">
    <div class="list">
    <div class="item item-input-inset item-dark" style="border-color: transparent;">
      <label class="item item-input-wrapper item-stable">   
      <input type="text" placeholder="Username">
      </label>
      <button class="button"  style="background-color: #615eff;">Search</button>
     </div>
    </ion-content>
</body>

 </ion-view>