<ion-view>
    <ion-nav-bar align-title="center" class="bar-calm">
      <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-chevron-left" ng-click="goback()"></button> 
      </ion-nav-buttons>
      <ion-nav-title style="font-weight: bold; font-size: 18px;" > Settings </ion-nav-title> 
    </ion-nav-bar>
  
<ion-content class="bg_content">
    
    <button class="button button-block button-dark" ng-click="openGallery()" style="background-color: transparent; border: solid; border-width: 2px; border-radius: 8px;"> Change Avi </button>
    <label class="item item-input">
    <input style="color: #FFFFFF;" type="text" placeholder="Current Name" >
    </label>
     <button class="button button-block button-dark" style="background-color: transparent; border: solid; border-width: 2px; border-radius: 8px;""> Save Name </button>
    <button class="button button-block button-dark" style="background-color: #393939; border: solid; border-width: 2px; border-radius: 8px;"> Report Issue </button>
    <button class="button button-block" ng-click="gologout()"  style="background-color: #615eff; border-radius: 8px; font-weight: bold;"> Log Out </button>
  </ion-content>
  
  </ion-view> 