
<ion-view>

<Head>
    <ion-nav-bar align-title="center" class="bar-calm">
      <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-chevron-left" ng-click="goback()"></button> 
      </ion-nav-buttons>
      <ion-nav-title style="font-size: 18px; font-weight: bold;
"> Sign Up </ion-nav-title> 
  </ion-nav-bar>
</Head>

 <body>
    <ion-content class="bg_content" align="center">
    <label class="item item-input">
      <input style="color: #FFFFFF;" type="text" placeholder="Name" >
      </label>
    <label class="item item-input">
      <input style="color: #FFFFFF;" type="text" placeholder="Username" >
      </label>
    <label class="item item-input">
      <input style="color: #FFFFFF;" type="text" placeholder="Email Address" >
      </label>
    <label class="item item-input">
      <input style="color: #FFFFFF;" type="text" placeholder="Confirm Email Address" >
      </label>
    <label class="item item-input">
      <input style="color: #FFFFFF;" type="password" placeholder="Password" >
      </label>
    <label class="item item-input">
      <input style="color: #FFFFFF;" type="password" placeholder="Confirm Password" >
      </label>
    <button class="button button-block button-positive" style="background-color: #615eff; border-radius: 8px; font-weight: bold;"> Sign Up </button>
    </ion-content>
  </body>
  
  </ion-view>