<!-- NOTIFICATION TAB -->

<ion-view>

<HEAD>

<!--Nav Bar with Setting and Search Buttons -->
 <ion-nav-bar align-title="center" class="bar-calm">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear button-light ion-navicon" menu-toggle="left">
    </button>

  </ion-nav-buttons>

    <ion-nav-title> <img class="full-image" style="max-height: 37px; width: 100%; height: auto; object-fit: contain; vertical-align: middle;" src="img/navpic.png"> </ion-nav-title>



</ion-nav-bar>


</HEAD> 

<Body>
<ion-content class="bg_content">
  <ion-refresher
    pulling-text="Pull to refresh..."
    >
  </ion-refresher>
<div style ="border-top: solid; border-top-color: #cbd0ef; border-top-width: 1px;"> </div>

<div class=“list card”>

 <div class ="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;" >
 <div class="item item-avatar" ng-click="GoPost()">
                <img src='img/avi5.jpg'>
                <h3 style="color: #8387fc; font-size: 17px; width: bold;"> emilygarza </h3>
                <p >Liked your post. </p>
</div>
</div>

 <div class="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;"  >
  <div class="item item-avatar" ng-click="GoUserProfile()">
                <img src='img/avi7.jpg'>
                <h3 style="color: #8387fc; font-size: 17px; width: bold;"> snehakoduru </h3>
                <p > Commented on your post. </p>
</div>
</div>

 <div class ="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;" >
 <div class="item item-avatar" ng-click="GoPost()">
                <img src='img/avi5.jpg'>
                <h3 style="color: #8387fc; font-size: 17px; width: bold;"> emilygarza </h3>
                <p >Liked your post. </p>
</div>
</div>

 <div class ="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;" >
 <div class="item item-avatar" ng-click="GoPost()">
                <img src='img/avi5.jpg'>
                <h3 style="color: #8387fc; font-size: 17px; width: bold;"> emilygarza </h3>
                <p >Liked your post. </p>
</div>
</div>


<div class="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;"  >
  <div class="item item-avatar" ng-click="GoUserProfile()">
                <img src='img/avi7.jpg'>
                <h3 style="color: #8387fc; font-size: 17px; width: bold;"> snehakoduru </h3>
                <p > Liked your post. </p>
</div>
</div>

<div class="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;"  >
  <div class="item item-avatar" ng-click="GoUserProfile()">
                <img src='img/avi6.png'>
                <h3 style="color: #8387fc; font-size: 17px; width: bold;"> aliciadiaz </h3>
                <p > Started shadowing you. </p>
</div>
</div>

 <div class ="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;" >
 <div class="item item-avatar" ng-click="GoPost()">
                <img src='img/avi5.jpg'>
                <h3 style="color: #8387fc; font-size: 17px; width: bold;"> emilygarza </h3>
                <p > Started shadowing you. </p>
</div>
</div>

<div class="divy" style="border-bottom: solid; border-bottom-color: #cbd0ef; border-bottom-width: 1px;"  >
  <div class="item item-avatar" ng-click="GoUserProfile()">
                <img src='img/avi7.jpg'>
                <h3 style="color: #8387fc; font-size: 17px; width: bold;"> snehakoduru </h3>
                <p > Started shadowing you. </p>
</div>
</div>




</div>
</ion-content>
</Body>

</ion-view>
