<ion-view>

<Head>
    <ion-nav-bar align-title="center" class="bar-calm">
      <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-chevron-left" ng-click="goback()"></button> 
      </ion-nav-buttons>
       <ion-nav-title> Search </ion-nav-title> 
    </ion-nav-bar>
</Head>

<body>
    <ion-content>

    <p> Enter your phone number so your friends can find you on Jifflo too! </p>
    <div class="list">
    <div class="item item-input-inset item-dark">
      <label class="item item-input-wrapper item-stable">   
      <input type="text" placeholder="Phone Number">
      </label>
      <button class="button button-positive"> Done </button>
     </div>
    </ion-content>
</body>

 </ion-view>